# Backend Configuration
BACKEND_URL=http://zipline:3000

# Server Configuration
HTTPS_ENABLED=true
HTTP_PORT=80
HTTPS_PORT=443
DOMAIN=sharehost.me

# SSL Certificate Paths
SSL_CERT_PATH=/etc/nginx/ssl/sharehost.me.crt
SSL_KEY_PATH=/etc/nginx/ssl/sharehost.me.key
